{
  "parser": "babel-eslint",
  "extends": [
		"eslint:recommended",
		//"plugin:jest/recommended"
		//"airbnb-base"
    //"plugin:prettier/recommended"
  ],
  "plugins": [
		"jest"
  ],
  "env": {
		"es6": true,
		"node": true,
		"jest": true
  },
  "rules": {
		"indent": ["error", "tab"],
		"semi": ["error", "never"],
		"max-len": ["warn", { "code": 140 }] // we do have 4K monitors nowadays!
		/*
		"no-tabs": ["off"],		// always allow tabs
		"no-underscore-dangle": ["off"],
		"no-plusplus": ["off"],
		"prefer-destructuring": ["off"],
		"no-await-in-loop": ["off"],
		"no-console": ["off"],					// We do output some warnings.
		"no-param-reassign": ["off"],
		"class-methods-use-this": ["off"]
		*/
  }
}
